@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,600,700&display=swap');

*{box-sizing: border-box;}

html{
    margin:0;
    height: 100%;
}
body{
    height: 100%;
    font-family: 'raleway';
    margin:0 auto;
    display: flex;
    flex-direction: column;
}
/* HOME*/
.homeBody/*body with background lines*/{
    background-position:25% 10%;
    background-color: #fff;
    background-image: url(images/background-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.standard-header, .small-header{
    background-color: #fff;
    box-shadow:0 1px 5px rgba(64,64,64,0.30);
    margin: 0 auto;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index:1;
}
.standard-header>a{
    width: 25%;
    display: inline-block;
    margin: 0 auto;
}
.standard-header>a>img{
    /* padding: 0.75rem 0 0.25rem 0; */
    margin: 0.75rem 0 0rem 0;
    width: 100%;
}
.standard-header nav, .small-header nav{
    display: flex;
}
.standard-header nav a, .small-header nav a{
    flex:1;
    text-decoration: none;
    text-transform: uppercase;
    color: #474747;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 0.085em;
    padding: 0.5rem 0;
    transition: 0.3s;
    position: relative;
}
.standard-header nav a:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0.25rem;
    left: 0;
    background-color: #474747;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.standard-header nav a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(0.8);
    transform: scaleX(0.8);
}
.small-header nav a:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0.25rem;
    left: 0;
    background-color: #474747;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.small-header nav a:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(0.8);
    transform: scaleX(0.8);
}
.small-header a img{
    margin: 0.25rem;
    display:none;
  }
/* header>nav>a:active{
    background-color: #474747;
    color:#fff;
} */
main{
    margin: 0 auto;
    flex: 1 0 auto;
    padding-top:10%;
}
#designSections{
    max-width: 80%;
    height: 15rem;
    margin: 16vh auto 2rem;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    box-shadow:1px 1px 5px rgba(64,64,64,0.30); 
}
#designSections a{
    width: 50%;
    /* flex:1; */
    /* text-transform: uppercase; */
    color: #474747;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    align-self: center;
    font-size: 1.4rem;
    font-weight: 200;
    transition: 0.3s ease-in-out 0s;
}
#designSections p{
    width: 50%;
    /* flex:1; */
    color: #474747;
    text-align: center;
    align-self: center;
    font-size: 0.8rem;
    font-weight: 200;
    padding: 0.5rem;
}
/* #designSections a:first-of-type:hover{
    color: #90AEBB;
} */
#designSections a:last-of-type:hover{
    color: #E46F6F;
}
/* #designSections a span{
    font-size: 0.80rem;
    letter-spacing: 0.04em;
    font-weight: 400;
} */
#designSections>hr{
    align-self: center;
    height: 45%;
    border: solid 0.5px #474747;
}
#recentWork{
    max-width: 80%;
    margin: 0 auto 4rem;
}
#recentWork h1{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    color: #474747;
    margin:0 0 1.5rem 0;
}
#recentWork div{
    display: flex;
    justify-content: space-between;
}
#recentWork figure{
    margin: 0;
    max-width:90%;
    position: relative;
}
#recentWork figure .projectTitle{
    max-width:95%;
    height: auto;
    text-decoration:none;
    color: #474747;
    font-size: 0.6rem;
    line-height: 0.8rem;
    display: block;
    margin: 0.5rem auto;
} 
#recentWork a {
display: flex;
align-content: center;
}
#recentWork a img{
    width: 95%;
    margin:0 auto;
    box-shadow:0.5px 0.5px 8px rgba(64,64,64,0.10);
    filter:grayscale(60%);
    -webkit-filter: grayscale(60%);
  -moz-filter: grayscale(60%);
  -ms-filter: grayscale(60%);
  transition: all 0.3s ease-in-out;
}
 #recentWork figure:hover img{
    filter:grayscale(0%);
    -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
}
footer{
    width: 100%;
    margin: 0 auto;
    flex-shrink: 0;
    background-color: #474747;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    padding:0 10%;
}
footer a{
    text-decoration: none;
    color: #999;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.04rem;
    transition: 0.3s ease;
    font-weight: 400;
}
.footer-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0;
}
.footer-links a:hover{
    color:#FFF;
    /* font-weight: 600; */
    /* text-decoration: underline; */
}
.footer-links a:nth-of-type(1){
    order: 1;
}
.footer-links a:nth-of-type(2){
    order: 2;
}
.footer-links>a{
    padding: 0.25rem 0.35rem;
    border-left: #fff solid 2px;
}
.socialMedia {
    order: 0;
    margin-bottom: 0.25rem;
}
.socialMedia .soMe-link{
    display: none;
}
.socialMedia .soMe-icon a{
    width: 50%;
}
.socialMedia .soMe-icon a img{
    width: 100%;
    margin: 0 auto;
}
.copyRight{
   text-align: right;
   align-self: center;
}
.copyRight p{
   text-transform: uppercase;
   font-size: 0.75rem;
   letter-spacing: 0.04rem;
   margin: 0 0.25rem;
}
/* WORK - PRODUCT DESIGN*/
/*.workGallery is the class applied to main for PD and GD pages*/
.workGallery, .workGallery-VD{
    margin: 7rem auto 5rem;
    width: 80%;
}
/*.workGallery*/ .subheader{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/*.workGallery*/ .subheader>h1{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    color: #474747;
    margin:0;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
}
.subheader>h1>a, .subheader>h1>a:visited{
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #474747;
    padding-bottom: 0.1rem;
}
/*.workGallery*/ .backArrow{
    text-align: right;
    width:30%;
    text-decoration: none;
}
/*.workGallery*/ .backArrow>span{
    color: #474747;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.04em;
    vertical-align: middle;
}
/*.workGallery*/ .backArrow svg{
    margin-right: 0.25rem;
    transition: all 0.5s ease;
}
/*.workGallery*/ .backArrow:hover{
    font-weight:600;
}
/*.workGallery*/ .backArrow:hover svg{
    transform: translate(-5px,0);
}
.workGallery section{
    width:100%;
    margin:1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.75rem;
    grid-template-areas:
    "header1 item1PD"
    "item2PD item3PD"
    "item4PD item5PD";
}
.workGallery .boxPD /*the box with the category title*/{
    background-color: #90AEBB;
    display: flex;
    flex-direction: row;
    padding: 8%;
}
.workGallery .boxPD>h2, .workGallery-VD .boxVD>h2{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.04em;
    color: #fff;
    margin:0;   
    align-self: flex-end;
}
#svg-filter { position:absolute; height:0 } /* used absolute positioning to make it work on firefox*/
#svg-filter-hover { position:absolute; height:0 }
.workGallery section figure, .workGallery-VD section figure{
    width:100%;
    margin:0;
    position: relative;
}
.workGallery section figure a img{
    vertical-align: middle;
    width: 100%;
    filter:url(product-desing.php#svg-color);
    -webkit-filter: url(#svg-color);
    transition: all 0.3s ease;
}
.workGallery section figcaption, .workGallery-VD section figcaption /*name of the project*/{
    display:none;
  }
.workGallery section figure:hover figcaption, .workGallery-VD section figure:hover figcaption{
    display:block;
    position: absolute;
    bottom:12%;
    left:7%;
    color: #fff;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.03rem;
    width:100%;
  }
  .workGallery section figure:hover a img, .workGallery-VD section figure:hover a img{
    filter: url(#svg-color-hover);
    -webkit-filter: url(#svg-color-hover);
  }
.workGallery section .colorBoxPD/*class applied to empty color blocks*/{
    width: 100%;
    height: 100%;
    background-color: rgba(144,174,187,0.30);
}
.workGallery section .toogleVisible{
    display: none;
}
/*WORK - VISUAL DESIGN */
.workGallery-VD section{
    width:100%;
    margin:1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.75rem;
    grid-template-areas:
    "header2 item2VD"
    "item1VD item3VD"
    "item4VD item5VD";
}
.workGallery-VD .toogleVisible-VD{
    display: none;
}
.workGallery-VD section figure a img{
    vertical-align: middle;
    width: 100%;
    filter:url(product-desing.html#svg-color);
    -webkit-filter: url(#svg-color);
}
.workGallery-VD .boxVD /*the box with the category title*/{
    background-color: #E46F6F;
    display: flex;
    flex-direction: row;
    padding: 8%;
}
.workGallery>section .colorBoxVD, .workGallery-combined>section .colorBoxVD, .workGallery-VD>section .colorBoxVD/*class applied to empty color blocks*/{
    width: 100%;
    height: 100%;
    background-color: rgba(228,111,111,0.20);
}
/*WORK*/
.workGallery-combined{
    margin: 7rem auto 5rem;
    width: 80%;
}
.workGallery-combined section{
    width:100%;
    margin:1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.75rem;
    grid-template-areas:
    "header1 header2"
    "item1PD item2VD"
    "item2PD item3VD"
    "item3PD item4VD"
    "item4PD item5VD"
}
/*these are empty color blocks that appear on bigger sizes*/
.workGallery-combined .toogleVisible-PD {
    display: none;
}
.workGallery-combined .toogleVisible-VD {
    display: none;
}
.workGallery-combined .boxPD /*the box with the category title*/{
    background-color: #90AEBB;
    padding: 0.75rem;
    text-decoration: none;
}
.workGallery-combined .boxVD /*the box with the category title*/{
    background-color: #E46F6F;
    padding: 0.75rem;
    text-decoration: none;
}
.workGallery-combined .boxPD>h2, .boxVD>h2{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.04em;
    color: #fff;
    margin:0;   
    align-self: flex-end;
}
.workGallery-combined .boxVD>h2{
    text-align: right;
    }
#svg-filter-PD { position:absolute; height:0 } /* used absolute positioning to make it work on firefox*/
#svg-filter-hover-PD { position:absolute; height:0 }
#svg-filter-VD { position:absolute; height:0 } /* used absolute positioning to make it work on firefox*/
#svg-filter-hover-VD { position:absolute; height:0 }
.workGallery-combined section figure{
    width:100%;
    margin:0;
    position: relative;
}
.workGallery-combined section figure a{
    width: 100%;
    display:block ;
}
.workGallery-combined section figure a img{
    overflow: hidden;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    /* filter:url(product-desing.html#svg-color);
    -webkit-filter: url(#svg-color); */
    /* transition: all 1s; *//*not working*/
}
.workGallery-combined section figcaption /*name of the project*/{
    display:none;
}
.workGallery-combined section figure:hover figcaption{
    display:block;
    position: absolute;
    bottom:12%;
    left:7%;
    color: #fff;
    font-size: 0.75rem;
    width:100%;
}
/*style for empty color boxes*/
.workGallery-combined .colorBoxPD{
    display: block;
    background-color: rgba(144,174,187,0.30);
    height: 100%;
}
/*color tint for images*/
.workGallery-combined .image-VD a img{
    filter:url(work.html#svg-color-VD);
    -webkit-filter: url(#svg-color-VD);
}
.workGallery-combined .image-PD a img{
    filter:url(work.html#svg-color-PD);
    -webkit-filter: url(#svg-color-PD);
}
/*color tint for images on hover*/
.workGallery-combined .image-VD:hover a img{
    filter: url(#svg-color-hover-VD);
    -webkit-filter: url(#svg-color-hover-VD);
}
.workGallery-combined .image-PD:hover a img{
    filter: url(#svg-color-hover-PD);
    -webkit-filter: url(#svg-color-hover-PD);
}
/*PROJECTS - PD & VD*/
.workProject{
    margin: 7rem auto 5rem;
    width: 80%;
}
.workProject .introSection{
    margin: 2.5rem 0 0 0;
    display: flex;
    flex-direction: column;
}
.workProject .h2-PD, .h2-VD{
    font-weight: 400;
    font-size: 2rem;
}
.workProject .h2-PD{
    color:#90AEBB;
}
.workProject .h2-VD{
    color: #E46F6F;
}
.workProject .introImage{
    width: 100%;
    margin: 0;
}
.workProject .projectData{
    margin: 1.5rem 0 4rem;
    color: #999999;
    font-size: 0.7rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1rem;
}
.workProject .projectData>span{
    display: none;
}
.workProject .singleImage{
    width: 100%;
    margin: 1rem auto;
}
.workProject .singleImage img, .workProject .introImage img{
    width: 100%;
}
.workProject .intro-PD, .intro-VD{
    color:#474747;
    font-weight: 200;
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding-left: 0.45rem;
}
.workProject .intro-PD{
    border-left: solid 2px #90AEBB;
}
.workProject .intro-VD{
    border-left: solid 2px #E46F6F;
}
.workProject .h3-PD, .h3-VD{
    font-weight: 600;
    font-size: 1.15rem;
}
.workProject .h3-PD{
    color:#90AEBB;
}
.workProject .h3-VD{
    color:#E46F6F;
}
.workProject .plainText{
    color: #474747;
    font-size: 0.8rem;
    line-height: 1.35rem;
    margin-bottom: 0.75rem;
}
.workProject .groupImage{
    margin: 1.25rem auto;
    width: 100%;
}
.workProject .groupImage>figure{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
}
.workProject .groupImage>figure img{
    width: 48%;
}
.workProject .groupImage figcaption, .workProject .singleImage figcaption{
    font-size: 0.7rem;
    font-weight: 400;
    color: #474747;
    margin:0.5rem 0;
    border-left: 2px solid #474747;
    padding-left: 0.35rem;
}
/*ABOUT*/
/* #about is the id applied to section inside main in about page */
.mainAbout{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#about{
    background-color: #fff;
    max-width: 80%;
    padding: 1.25rem;
    box-shadow:1px 1px 5px rgba(64,64,64,0.30);
    display: flex;
    flex-direction: column;
    margin: 7rem auto 5rem;
}
#about>.introAbout{
    display: flex;
    flex-direction: column;
}
#about>.introAbout div{
    display: flex;
    flex-direction: column;
}
#about>.introAbout img{
    max-width:45%;
    margin: 1.5rem auto;
}
#about .introAbout div h2{
    color: #474747;
    line-height: 2rem;
    font-weight: 400;
    margin: 0.35rem auto;
    text-align: left;
    width: 100%;
}
#about .introAbout div>p{
    color: #474747;
    font-weight: 200;
    width: 100%;
    font-size: 0.95rem;
    align-self: center;
    line-height: 1.35rem;
}
#about p{
    color: #474747;
    width: 100%;
    font-size: 0.75rem;
    margin: 0.5rem auto;
    line-height: 1.15rem;
}
#end-mark{
    width:35%;
    height: 7vh;
    margin:0.5rem auto 1.5rem;
    display: flex;
    flex-direction: row;
}
#end-mark img{
    width:45%;
    margin:0 auto;
}
#end-mark::before {
    visibility: visible;
    content:"";
    width:20%;
    height: 1px;
    background-color: #474747;
    align-self: center;
}
#end-mark::after {
    visibility: visible;
    content:"";
    width:20%;
    height: 1px;
    background-color: #474747;
    align-self: center;
}
#arrow-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}
#upArrow{
    text-align: right;
    width:30%;
    text-decoration: none;
    align-self: center;
}
#upArrow>span{
    color: #474747;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.04em;
}
#upArrow svg{
    margin-right: 0.25rem;
    transition: all 0.5s ease;
}
#upArrow:hover{
    font-weight:600;
}
#upArrow:hover svg{
    transform: translate(0,-5px);
}
#arrow-links .backArrow{
    text-align: left;
    align-self: center;
}
/*CONTACT*/
.mainContactPage{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.biggerSizes{
display: none;
}
#contact{
    background-color: #fff;
    max-width: 75%;
    margin: 7rem auto 5rem;
    padding: 1rem;
    box-shadow:1px 1px 5px rgba(64,64,64,0.30);
}
#contact div form{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 2rem 0 1rem 0;
    /* align-self:flex-start; */
    color: #474747;
}
#contact div>img{
    float: right;
    width: 24%;
    margin: 0.75rem 0.75rem 0 0;
    /* align-self: flex-end; */
}
#contact div form label{
    margin: 0.75rem 0;
}
#contact div form input{
    border:none;
    border-bottom: 1px solid #474747;
    height: 1.75rem;
}
#contact div form textarea{
    border:none;
    border-bottom: 1px solid #474747;
    font-family: 'raleway';
    font-size: 0.75rem;
    height: 3rem;
}
#contact div form .submit{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem 0;
    cursor: pointer;
}
#contact div form .submit input{
    background-color: #fff;
    color: #474747;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.04em;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
#contact div form .submit svg{
    transition: all 0.5s ease;
    /* margin-left: 0.25rem; */
}
#contact div form .submit:hover svg{
    transform: translate(5px,0);
}
#contact div .socialMedia-links{
margin: 0;
}
#contact div .socialMedia-links>a{
border-left: solid 2px #474747 ;
padding-left: 0.45rem ;
text-decoration: none;
text-transform: uppercase;
color: #474747;
font-size: 0.85rem;
}
#contact div .socialMedia-links>a:nth-last-of-type(1){
margin-left: 1.5rem;
}
/* THANK YOU FOR CONTACTING ME*/
.SecContactPage{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#thankYou-contact{
    background-color: #fff;
    max-width: 80%;
    height: 25rem;
    margin: 7rem auto 5rem;
    padding: 1rem;
    box-shadow:1px 1px 5px rgba(64,64,64,0.30);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#thankYou-contact>svg{
    width: 30%;
    margin: 2rem 4rem 2rem 4rem;
}
.envelope{
    stroke-dasharray: 280;
    stroke-dashoffset: 280;
    animation: dash;
    animation-timing-function:ease-in-out;
    animation-duration: 6s;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  @keyframes dash{
    to{
      stroke-dashoffset:0;
    }
  }
#thankYou-contact p{
    width: 90%;
    color: #474747;
    margin: 0.25rem 2rem;
    font-size: 1rem;
    line-height:1.2rem;
    font-weight: 400;
    text-align: center;
}
#thankYou-contact a{
    margin: 2rem auto;
    text-transform: uppercase;
    text-decoration: none;
    color: #474747;
    font-size: 0.9rem;
    letter-spacing: 0.04em;
}
#thankYou-contact svg{
    transition: all 0.5s ease;
}
#thankYou-contact a:hover svg{
    transform: translate(5px,0);
}
#thankYou-contact a:hover span{
    font-weight: 600;
}
/*MEDIA QUERIES*/
@media all and (min-width:470px){
    /*HOME*/
    .standard-header>a{
    width: 20%;
    }
}
@media all and (min-width:700px){
    /*HOME*/
    .standard-header>a{
    width: 14%;
    margin: 0.75rem 0 0.5rem 0;
    }
    #designSections a{
        font-size: 2.5rem;    
        }
    #designSections p{
        font-size: 0.95rem;
        padding: 0.75rem;
        line-height: 1.2rem;   
    }
}
@media all and (min-width:970px){
    /*HOME*/
    .homeBody/*body with background lines*/{
        background-image: url(images/background.svg);
    }
    .standard-header>a{
    width: 12%;
    margin: 0.75rem 0 0.75rem 0;
    }
    .standard-header nav, .small-header nav{
    max-width: 70%;
    margin: 0 auto;
    }
    .standard-header nav a, .small-header nav a{
    font-size: 0.95rem; 
    }
    #designSections{
    margin: 8rem auto 3rem;
    max-width: 70%; 
    height: 35vh;
    }
    #designSections a{
    font-size: 3.15rem;    
    }
    #designSections p{
        font-size: 1.1rem;
        line-height: 1.5rem;
        padding: 1.15rem;    
    }
    /* #designSections a span{
    font-size:0.9rem;
    } */
    #recentWork{
    max-width: 70%;
    margin: 0 auto 7rem;
    }
    #recentWork figure img{
    margin-bottom: 0.5rem;
    }
    #recentWork figure figcaption .projectTitle{
    font-size: 0.9rem;
    /* border-left: 2px solid #474747; */
    padding-left: 0.35rem;
    margin: 0.75rem 0;
    line-height: 1.2rem;
    }
    footer {
    padding:1rem 15%;
    }
    footer a{
    padding: 0.25rem 0.55rem   
    }
    footer a,p{
    font-size: 0.9rem; 
    }
    footer .footer-links{
    flex-direction: row;
    padding: 0.5rem;
    }
    footer .socialMedia .soMe-icon{
    display: none;
    }
    footer .socialMedia .soMe-link{
    display: block;
    padding: 0.25rem 0.35rem;
    border-left: #fff solid 2px;
    }
    footer .socialMedia{
    order: 1;
    margin: 0 1rem 0 0;
    margin-right: 2rem;
    margin-bottom: 0;
    height: 100%;
    }
    .footer-links a:nth-of-type(1){
    order: 0;
    margin-right: 2rem;
    }
    .footer-links a:nth-of-type(2){
    order: 2;
    }
    /*WORK*/
    /*empty color blocks visible now*/
    .subheader>h1{
    font-size: 1.25rem;   
    }
    .backArrow{
    width: 15%;
    }
    .backArrow>span{
    font-size: 1rem; 
    }
    .workGallery-combined{
    max-width: 70%;
    margin:8rem auto 7rem;
    }
    .workGallery-combined section{
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    grid-template-areas:
    "header1 header3 header2"
    "item1PD item1VD item2VD"
    "item2PD item3VD item4VD"
    "item3PD item4PD item5VD"
    }
    /*empty color blocks visible now*/
    .workGallery-combined section .toogleVisible-PD{
    display: block;
    background-color: rgba(144,174,187,0.30); 
    }
    .workGallery-combined section .toogleVisible-VD{
    display: block;
    background-color: rgba(228,111,111,0.20);
    }
    .workGallery-combined .boxPD, .workGallery-combined .boxVD{
    padding: 8%;
    }
    .workGallery-combined .boxPD>h2, .boxVD>h2{ 
    padding-top: 51%;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
    }
    .workGallery-combined section figure:hover figcaption{
    font-size: 0.9rem;
    width:85%;   
    }
    /* WORK - PRODUCT DESIGN & VISUAL DESIGN*/
    .workGallery, .workGallery-VD{
        width: 70%;
        margin: 8rem auto 7rem;
    }
    .workGallery section {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        grid-template-areas:
    "header1 item1PD ."
    ". item3PD item2PD"
    "item5PD . item4PD";
    }
    .workGallery-VD section{
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        grid-template-areas:
    "header2 item2VD ."
    ". item3VD item4VD"
    "item5VD . item1VD";
    }
    .workGallery .boxPD>h2, .workGallery-VD .boxVD>h2{
    font-size: 1.5rem;
    letter-spacing: 0.05em;
    }
    .workGallery section figure:hover figcaption, .workGallery-VD section figure:hover figcaption{
    font-size: 0.9rem;
    width:85%;
    }
    /*PROJECTS - PD & VD*/
    .workProject{
        margin: 8rem auto 7rem;
        width: 70%;
    }
    .workProject .introSection{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .workProject .h2-PD, .workProject .h2-VD{
        font-size: 2.75rem;
        max-width: 35%;
        align-self: end;
        margin: 1rem 0;
    }
    .workProject .introImage{
        max-width: 65%;
        margin: auto 0;
    }
    .workProject .intro-PD, .workProject .intro-VD{
        padding-left: 0.65rem;
        font-size: 1.4rem;
        line-height: 2rem;
        margin-bottom:1rem ;
        width: 100%;
    }
    .workProject .projectData{
        font-size: 0.8rem;
    }
    .workProject .projectData>span{
        display: inline-block;
        background-color: #F2F2F2;
        color:#999;
        padding: 0.25rem;
        border-radius: 0.2rem;
        margin: 0 0.35rem 0 0.5rem;
    }
    .workProject .h3-PD, .h3-VD{
        margin-top: 2.5rem;
    }
    .workProject .plainText{
        font-size: 0.9rem;
        line-height: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .workProject .groupImage figcaption, .workProject .singleImage figcaption{
        font-size: 0.8rem;
        margin:0.7rem 0;
    }
    .workProject #end-mark{
        width: 30%;
        margin:3rem auto;
    }
    .workProject #arrow-links{
        width: 100%;
    }
    /*ABOUT*/
    #about{
        max-width:70%;
        margin: 8rem auto 7rem;
        padding: 2rem;
     }
     #about>.introAbout{
        flex-direction: row;
        margin: 2rem auto 1rem;
        width: 100%;
    }
    #about .introAbout div{
        margin: 0;
        max-width:60%;
    }
    #about .introAbout>img{
       max-width:24%;
       margin: 0 1.2rem 0 0;
    }
    #about .introAbout div h2{
        margin: 0;
        font-size: 1.75rem;
    }
    #about .introAbout div>p{
       font-size: 1.2rem;
       align-self: baseline;
       line-height: 1.75rem;
    } 
    #about p{
        font-size: 0.9rem;
        line-height: 1.5rem;
    }
    #about>#end-mark, #about>#arrow-links{
        display: none;
    }
    /*CONTACT*/
    #contact{
        width: 85%;
        margin: 8rem auto 7rem;
        padding: 1rem 2rem;
        height:32rem ;
    }
    #contact>.subheader h1{
        display: none;
        position: relative;
    }
    #contact>.subheader{
        justify-content: flex-end;
    }
    #contact>div {
        align-self: center;
        max-width: 80%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        padding-top: 2rem;
        margin: 1rem auto;
    }
    #contact>div .biggerSizes{
        display: block flex;
        flex-direction: column;
        justify-content: space-between;
        border-right: #000 solid 1px;
        padding-right: 2rem;
        height: 14rem;
    }
    #contact>div .biggerSizes h1{
        color: #474747;
        font-size: 1.25rem;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.05rem;
        margin:0;
    }
    #contact>div .biggerSizes img{
        margin-right:0.5rem ;
    }
    #contact div>img{
        width: 16%;
        margin: 0 1rem 0 0;
    }
    #contact div form{
        max-width: 50%;
        margin: 0 0 1rem 0;
        /* align-self:flex-start; */
        color: #474747;
    }
    #contact div form label:nth-of-type(1){
        margin:0 0 0.75rem 0;
    }
    #contact>div .socialMedia-links{
        display: none;
    }
    /* THANK YOU FOR CONTACTING ME*/
    #thankYou-contact{
        max-width: 60%;
        margin: 8rem auto 7rem;
    }
    #thankYou-contact>svg{
        width: 20%;
    }
    #thankYou-contact a{
        font-size: 1rem;
    }
}
@media all and (min-width:1200px){
    /*HOME*/
    .standard-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .standard-header>a{
        max-width: 8%;
        margin-left: 5%;
        flex: 1;
    }
    .standard-header nav{
        margin: 0 5% 0 0;
        max-width: 35%;
        align-self: center;
        flex: 1;
    }
    .standard-header nav a{
        max-width: 60%;
        font-size:0.85rem;
    }
    .small-header nav{
        max-width: 35%;
        margin: 0 0 0 60%;
    }
    .small-header nav a{
        max-width: 60%;
        font-size:0.85rem ;
    }
    #designSections{
        max-width: 50%;
        height: 20rem;
        margin: 4rem auto 4rem;
    }
    #designSections p{
        padding: 1.2rem;    
    }
    #recentWork{
        max-width: 50%;
        margin-bottom: 7rem;
    }
    #recentWork figure .projectTitle{
        margin: 0.5rem auto;
    }
    footer {
        padding:1rem 25%;
        }
    footer a{
        font-size: 0.85rem; 
    }
    .footer-links{
        margin: 0 0;
    }
    .footer-links>a{
        padding: 0.25rem 0.65rem;
    }
    footer .socialMedia .soMe-link{
        padding: 0.25rem 0.65rem;
        }
    /*WORK*/
    .backArrow{
        width: 16%;
        }
    .workGallery-combined{
        margin:4rem auto 7rem;
    }
    .workGallery-combined section{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "header1 header3 item2VD header2"
        "item1PD item2PD item1VD item3VD"
        "item4PD item3PD item4VD item5VD";
        margin:2rem 0;
        }
    .workGallery-combined .boxPD, .workGallery-combined .boxVD{
        padding: 10%;
        }
    .workGallery-combined .boxPD>h2, .boxVD>h2{ 
        padding-top: 45%;
        font-size: 1.35rem;
        letter-spacing: 0.05em;
        }
    /* WORK - PRODUCT DESIGN & VISUAL DESIGN*/
    .workGallery section .toogleVisible{
        display: block;
        width: 100%;
        padding: 40.85%;
        background-color: rgba(144,174,187,0.30);
    }
    .workGallery, .workGallery-VD{
        margin: 4rem auto 7rem;
    }
    .workGallery section{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
    "header1 item1PD . item2PD"
    ". item3PD item4PD ."
    "item5PD . item6PD item7PD";
        margin:2rem 0;
    }
    .workGallery-VD section .toogleVisible-VD{
        display: block;
        width: 100%;
        padding: 40.85%;
        background-color: rgba(228,111,111,0.20);
    }
    .workGallery-VD section{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
    "header2 item2VD . item1VD"
    ". item3VD item4VD ."
    "item6VD . item5VD item7VD";
        margin:2rem 0;
    }
    .workGallery .boxPD{
        padding: 10%;
    }
    .workGallery-VD .boxVD{
        padding: 10%;
    }
    .workGallery .boxPD h2, .workGallery-VD .boxVD h2{
        font-size: 1.35rem;
        letter-spacing: 0.05em;
    }
    /*PROJECTS - PD & VD*/
    .workProject{
        margin: 4rem auto 7rem;
    }
    .workProject .h2-PD, .workProject .h2-VD{
        align-self: initial;
        margin-bottom: 7rem;
        margin-top: 0;
        height: max-content;
    }
    .workProject .intro-PD, .workProject .intro-VD{
        width: 35%;
        height: 10%;
        margin-top: -23%;
        margin-bottom: 0;
    }
    .workProject .projectData{
        font-size: 0.85rem;
    }
    .workProject .h3-PD, .h3-VD{
        font-size: 1.5rem;
    }
    .workProject .plainText{
        font-size: 1rem;
        line-height: 1.75rem;
        margin-bottom: 2.5rem;
    }
    .workProject .groupImage figcaption, .workProject .singleImage figcaption{
        font-size: 0.9rem;
        margin:1rem 0;
        border-left: 3px solid #474747;
        padding-left: 0.5rem;
    }
    .workProject #end-mark{
        width: 16%;
        margin:3rem auto;
    }
    /*ABOUT*/
    #about{
        max-width:66%;
        margin: 3rem auto 7rem;
        padding: 3rem;
     }
     #about .introAbout{
         margin: 2.5rem 0 0.5rem 0;
     }
     #about .introAbout>img{
        max-width:30%; 
     }
     #about .introAbout div{
        justify-content: flex-end;
     }
     #about .introAbout div h2{
        margin: 0 0 8% 0;
        font-size: 1.95rem;
    }
    #about .introAbout div>p{
        font-size: 1.4rem;
        line-height: 2rem;
    }
    #about p{
        font-size: 1rem;
        line-height: 1.75rem;
    } 
    /*CONTACT*/
    #contact{
        max-width: 60%;
        margin: 3rem auto 9rem;
        padding: 1rem 2rem;
        height: 28rem;
    }
    #contact>div .biggerSizes h1{
        color: #474747;
        font-size: 1.45rem;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.05rem;
        margin:0;
    }
    #contact>div .biggerSizes img{
        margin-right: 1rem;
    }
    #contact>div{
        max-width: 90%;
        margin: 0 auto;
    }
    #contact div>img{
        width: 12%;
        margin: 0 1rem 0 0;
    }
    #contact div form label{
        font-size: 1.15rem;
    }
    #contact div form .submit input{
        font-size: 1rem;
    }
    #contact div form .submit{
        margin: 1rem 0 0 0;
    }
    /* THANK YOU FOR CONTACTING ME*/
    #thankYou-contact{
        margin: 4rem auto 7rem;
        height: 35rem;
    }
    #thankYou-contact>svg{
        width: 18%;
    }
}
@media all and (min-width:1850px){
    /*HOME*/
    .standard-header>a{
        max-width: 6%;
    }
    .standard-header nav{
        max-width: 25%;
    }
    .standard-header nav a{
        font-size:0.95rem;
    }
    .small-header nav{
        max-width: 25%;
        margin: 0 5% 0 70%;
    }
    .small-header nav a{
        font-size:0.95rem;
        max-width: 40%;
    }
    #designSections{
        max-width: 60%;
        height: 30rem;
        margin:4rem auto 3rem;
    }
    #designSections p{
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 2.5rem;
    }
    #recentWork{
        max-width: 60%;
        margin-bottom: 7rem;
    }
    footer{
        padding:1rem 20%;
    }
    footer a{
        font-size: 0.95rem; 
        }
    /*WORK*/
    .subheader>h1{
        font-size: 1.45rem;   
    }
    .backArrow>span{
        font-size: 1.2rem; 
    }
    .workGallery-combined{
        max-width: 65%;
    }
    .workGallery-combined .boxPD, .workGallery-combined .boxVD{
        padding: 15%;
    }
    .workGallery-combined .boxPD>h2, .boxVD>h2{ 
        padding-top: 50%;
        font-size: 1.5rem;
        letter-spacing: 0.07em;
    }
    .workGallery-combined section figure:hover figcaption{
        font-size: 1.1rem; 
        }
    /* WORK - PRODUCT DESIGN & VISUAL DESIGN*/
    .workGallery, .workGallery-VD{
        max-width: 65%;
        margin: 4rem auto 7rem;
    }
    .workGallery .boxPD>h2, .workGallery-VD .boxVD>h2{ 
        font-size: 1.5rem;
        letter-spacing: 0.07em;
    }
    .workGallery section figure:hover figcaption{
        font-size: 1.1rem; 
    }
    .workGallery-VD section figure:hover figcaption{
        font-size: 1.1rem; 
    }
    /*PROJECTS - PD & VD*/
    .workProject .h2-PD, .workProject .h2-VD{
        font-size: 3rem;
    }
    .workProject .intro-PD, .workProject .intro-VD{
        font-size: 1.55rem;
        line-height: 2.2rem;
    }
    .workProject .projectData{
        font-size: 0.9rem;
    }
   .workProject .plainText{
        font-size: 1.15rem;
        line-height: 2rem;
    } 
    .workProject .groupImage figcaption, .workProject .singleImage figcaption{
        font-size: 1rem;
        border-left: 5px solid #474747;
        padding-left: 0.75rem;
    }
    /*ABOUT*/
    #about{
        padding: 6rem;
        max-width:50%;
     }
     #about .introAbout{
        margin: 3rem 0 0.75rem 0;
    }
    #about .introAbout div{
        max-width: 70%;
     }
    #about .introAbout>img{
        max-width:28%;
        margin: 0 1.65rem 0 0; 
     }
     #about .introAbout div h2{
        font-size: 2.2rem;
        margin: 0 0 3% 0;
    }
    #about .introAbout div>p{
        font-size: 1.55rem;
        line-height: 2.2rem;
    }
    #about p{
        font-size: 1.15rem;
        line-height: 2rem;
    } 
    /*CONTACT*/
    .mainContactPage .subheader{
        padding: 0;
    }
    #contact{
        max-width: 50%;
        height: 35rem;
    }
    #contact div:nth-of-type(2){
        position: relative;
        top:20%;
        padding: 0;
        margin: 0 auto;
    }
    #contact div form .submit input{
        font-size: 1.2rem;
    }
    #contact div form .submit{
        margin: 2rem 0 0 0;
    }
    /* THANK YOU FOR CONTACTING ME*/
    #thankYou-contact{
        max-width: 65%;
        margin: 2rem auto 9rem;
    }
    #thankYou-contact>svg{
        width: 12%;
    }
    #thankYou-contact p{
        font-size: 1.15rem;
        margin: 0.5rem 2rem
    }
    #thankYou-contact a{
        font-size: 1.2rem;
    }
}